body
{background-color: rgb(7, 6, 6);
margin-left: 8%;
margin-right: 8%;}
header
{
    background-color: rgb(229, 137, 16);
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 40px;
    color: white;

}
#main
{
    display: flex;
    color: wheat;
}
nav
{
    background-color: rgb(26, 67, 26);
    flex: 1;
    margin: 2px;
}
article
{
    display: flex;
    background-color: rgb(77, 101, 80);
    flex: 3;
    margin: 2px;
    font-size: 42px;
}
aside
{
    display: flex;
    background-color:   rgb(26, 67, 26) ;
    flex: 1;
    margin: 2px;
}
footer
{
    color:white;
    display: flex;
    flex: 1;
    background-color:rgb(229, 137, 16) ;
}